/*
* File    : blog.css
* Purpose : Contains all css codes for the blog.
* Created : 08-feb-2017
* Author  : Satyapriya Baral
*/

a:link {
    color:white;
}

a:visited {
    color:white;
}

a:hover {
    color:#ffcc00;
}

.spancolor {
    color: red;
}

.Title {
    color:red;
    font-size: 15px;
}

.bodyTag {
    padding : 50px;
}

a.Readmore:link {
    color: red;
}
